<nav class="navbar fixed-top navbar-expand-lg bg-black opacity-75 p-0">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <img id="logo" src="Logo.png" alt="logo">
    </a>
    <div id="navbar-divider" class="me-auto"></div>
    {{nome_completo}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white link" href="#">Teach course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white link" href="#">Get course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><button type="button" class="btn button-login">Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><button type="button" class="btn button-register">Register</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

